*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
height:100vh;
background: linear-gradient(145deg,#020617,#071938,#020617);
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{
width:100%;
padding:20px;
display:flex;
justify-content:center;
}

.card{
width:100%;
max-width:420px;
background: rgba(255,255,255,0.04);
backdrop-filter: blur(20px);
padding:35px;
border-radius:22px;
box-shadow: 0 0 40px rgba(0,0,0,.6);
text-align:center;
}

.logo{
width:90px;
height:90px;
margin:auto;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:42px;
font-weight:bold;
background: linear-gradient(145deg,#2563eb,#06b6d4);
box-shadow:0 0 35px #06b6d4;
margin-bottom:20px;
}

h1{
margin-bottom:25px;
font-weight:600;
}

.toggle{
display:flex;
background:#020617;
border-radius:12px;
overflow:hidden;
margin-bottom:18px;
}

.toggle button{
flex:1;
padding:12px;
border:none;
background:none;
color:white;
cursor:pointer;
}

.toggle .active{
background: linear-gradient(145deg,#2563eb,#06b6d4);
}

input,select{
width:100%;
padding:14px;
margin:8px 0;
border:none;
border-radius:10px;
background:#020617;
color:white;
outline:none;
}

.mobileBox{
display:flex;
gap:8px;
}

.mobileBox select{
width:40%;
}

.mobileBox input{
width:60%;
}

.hidden{
display:none;
}

.loginBtn{
width:100%;
padding:14px;
border:none;
border-radius:12px;
margin-top:10px;
font-size:16px;
background: linear-gradient(145deg,#2563eb,#06b6d4);
color:white;
cursor:pointer;
}

.otpBtn{
width:100%;
padding:14px;
border-radius:12px;
margin-top:10px;
background:none;
border:1px solid #06b6d4;
color:white;
cursor:pointer;
}

.links{
display:flex;
justify-content:space-between;
margin-top:18px;
}

.links a{
color:#06b6d4;
text-decoration:none;
font-size:14px;
}

/* ERROR ANIMATION */

.error{
border:2px solid red;
animation:shake .3s;
}

@keyframes shake{
25%{transform:translateX(4px);}
50%{transform:translateX(-4px);}
75%{transform:translateX(4px);}
}
