body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#071a3a,#020c1f);
    font-family:Segoe UI;
}

.container{
    width:360px;
    padding:35px;
    border-radius:25px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(20px);
}

/* LOGO ANIMATION */
.logo{
    width:120px;
    height:120px;
    border-radius:50%;
    margin:auto;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    box-shadow:0 0 60px #00f2fe;
    animation:pulse 2.5s infinite;
}

@keyframes pulse{
    0%{box-shadow:0 0 20px #00f2fe;}
    50%{box-shadow:0 0 80px #00f2fe;}
    100%{box-shadow:0 0 20px #00f2fe;}
}

h1{
    text-align:center;
    color:white;
    margin:25px 0;
}

.toggle{
    display:flex;
    background:#08142b;
    border-radius:12px;
    overflow:hidden;
}

.toggle button{
    flex:1;
    padding:12px;
    border:none;
    color:white;
    background:transparent;
}

.active{
    background:#3b82f6;
}

input{
    width:100%;
    margin-top:15px;
    padding:14px;
    border-radius:12px;
    border:none;
    background:#08142b;
    color:white;
}

/* RED ERROR LINE */
input:invalid{
    border:1px solid red;
}

.hidden{
    display:none;
}

.loginBtn{
    width:100%;
    padding:15px;
    margin-top:18px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    color:white;
    font-size:16px;
}

.otpBtn{
    width:100%;
    padding:15px;
    margin-top:10px;
    border-radius:12px;
    border:1px solid #4facfe;
    background:transparent;
    color:white;
}

.links{
    display:flex;
    justify-content:space-between;
    margin-top:18px;
}

.links a{
    color:#7ab7ff;
    text-decoration:none;
}
