body{

margin:0;
font-family:system-ui;
background:
radial-gradient(circle at top,
#0f2a60,
#020617);

height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;

}

.container{

width:90%;
max-width:420px;
background:#071226;
padding:40px;
border-radius:30px;
text-align:center;

box-shadow:0 0 80px rgba(0,140,255,.35);

}

/* LOGO */

.logo{

width:170px;
height:170px;
margin:auto;
border-radius:50%;

background:
linear-gradient(145deg,#3b82f6,#1e40af);

display:flex;
justify-content:center;
align-items:center;

font-size:80px;
font-weight:bold;

animation:
pulse 3s infinite,
rotate 12s linear infinite;

}

.logo::after{
content:"V";
}

.small{
width:100px;
height:100px;
font-size:45px;
margin-bottom:20px;
}

/* BIG PROFESSIONAL ANIMATION */

@keyframes pulse{

0%{
box-shadow:0 0 20px #3b82f6;
transform:scale(1);
}

50%{
box-shadow:0 0 90px #60a5fa;
transform:scale(1.1);
}

100%{
box-shadow:0 0 20px #3b82f6;
}

}

@keyframes rotate{

from{
filter:hue-rotate(0deg);
}

to{
filter:hue-rotate(360deg);
}

}


/* TOGGLE */

.toggle{

display:flex;
margin:25px 0;
background:#020617;
border-radius:14px;
overflow:hidden;

}

.toggle button{

flex:1;
padding:14px;
border:none;
background:transparent;
color:white;
cursor:pointer;

}

.active{
background:#2563eb;
}


/* INPUT */

.input{

width:100%;
padding:16px;
margin:10px 0;
border-radius:12px;
border:2px solid transparent;
background:#020617;
color:white;
font-size:16px;
transition:.25s;

}

.input:focus{
border:2px solid #3b82f6;
outline:none;
}


/* RED ERROR ANIMATION */

.error{

border:2px solid red;

animation:shake .4s;

}

@keyframes shake{

0%{transform:translateX(0);}
25%{transform:translateX(-6px);}
50%{transform:translateX(6px);}
75%{transform:translateX(-6px);}
100%{transform:translateX(0);}

}


/* BUTTONS */

.login-btn{

width:100%;
padding:16px;
margin-top:15px;
border:none;
border-radius:14px;
font-size:18px;

background:
linear-gradient(90deg,#3b82f6,#60a5fa);

color:white;
cursor:pointer;

}

.otp-btn{

width:100%;
padding:14px;
margin-top:10px;
border-radius:14px;
border:1px solid #3b82f6;
background:transparent;
color:white;
cursor:pointer;

}

/* LINKS */

.links{

margin-top:20px;
display:flex;
justify-content:space-between;
font-size:14px;

}

.links span{
cursor:pointer;
color:#60a5fa;
}


/* PAGES */

.page{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:#020617;

display:none;
flex-direction:column;
justify-content:center;
align-items:center;
padding:40px;

}

.back{
margin-top:20px;
cursor:pointer;
color:#60a5fa;
}

.hidden{
display:none;
}
