:0;


@keyframes glow{
0%,100%{opacity:.4;}
50%{opacity:1;}
}

h1{
font-size:34px;
margin-bottom:6px;
}

.subtitle{
color:#94a3b8;
margin-bottom:26px;
}

/* TOGGLE */
.toggle{
display:flex;
background:#020617;
border-radius:14px;
padding:4px;
margin-bottom:18px;
}

.toggle button{
flex:1;
padding:12px;
border:none;
background:none;
color:#94a3b8;
border-radius:10px;
font-weight:600;
cursor:pointer;
}

.toggle .active{
background:linear-gradient(135deg,#2563eb,#3b82f6);
color:white;
}

/* INPUT */
input{
width:100%;
padding:16px;
border-radius:14px;
border:none;
outline:none;
background:#020617;
color:white;
font-size:16px;
margin-bottom:20px;
}

.iti{
width:100%;
}

/* DARK DROPDOWN */
.iti__country-list{
background:#020617;
color:white;
}
.iti__country{
color:white;
}
.iti__country:hover{
background:#1e293b;
}

/* BUTTON */
button.main-btn{
width:100%;
padding:16px;
border:none;
border-radius:14px;
font-size:18px;
font-weight:600;
cursor:pointer;

background:linear-gradient(135deg,#2563eb,#3b82f6);
color:white;
}

/* LINKS */
.bottom-text{
